parameters:
    level: 8
    paths:
        - src
    excludePaths:
         - src/Kernel.php
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    tmpDir: var/cache/phpstan
    # If you're using PHP config files for Symfony 5.3+, you also need this for auto-loading of `Symfony\Config`:
    scanDirectories:
        - var/cache/dev/Symfony/Config
    banned_code:
        nodes:
            # enable detection of echo
            -
                type: Stmt_Echo
                functions: null

            # enable detection of eval
            -
                type: Expr_Eval
                functions: null

            # enable detection of die/exit
            -
                type: Expr_Exit
                functions: null

            # enable detection of a set of functions
            -
                type: Expr_FuncCall
                functions:
                    - dd
                    - debug_backtrace
                    - dump
                    - exec
                    - passthru
                    - phpinfo
                    - print_r
                    - proc_open
                    - shell_exec
                    - system
                    - var_dump

            # enable detection of print statements
            -
                type: Expr_Print
                functions: null

            # enable detection of shell execution by backticks
            -
                type: Expr_ShellExec
                functions: null

        # enable detection of `use Tests\Foo\Bar` in a non-test file
        use_from_tests: true
